<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coviduana</title>
</head>
<body>
<h1 style="text-align: left;">Cadastrar estoque</h1>
<form action="/adicionar_e" class="container" method="POST">
    <div class="row">
        <div class="id">
            <input type="number" autocomplete="off" name="id" id="id" placeholder="codigo" class="form-control">
        </div>
        <div class="quantidade">
            <input type="number" autocomplete="off" name="quantidade" id="quantidade" placeholder="quantidade" class="form-control">
        </div>
    </div>
    <br>
    <div class="botao">
        <button type="submit" class="sucess">Enviar</button>
    </div>
</form>
</body>
</html>