<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coviduana</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        $.ajax({
            method: "POST",
            url: "http://www.arcossp.com.br/arcos_novo/ws.coviduana",
            data: {
                id: "id",
                quantidade: "quantidade",
            },
            beforeSend : function(){
                $("#resultado").html("ENVIANDO...");
            }
        })
    </script>
</head>
<body>
<h1 style="text-align: left;">Cadastrar estoque</h1>
<form action="/adicionar_e" class="container" method="POST">
    <div class="row">
        <div id="id">
            <input type="text" maxlength="2" autocomplete="off" name="id" id="id" placeholder="codigo" class="form-control">
        </div>
        <div id="quantidade">
            <input type="number" autocomplete="off" name="quantidade" id="quantidade" placeholder="quantidade" class="form-control">
        </div>
    </div>
    <br>
    <div class="botao">
        <button type="submit" class="sucess">Enviar</button>
    </div>
</form>
</body>
</html>